body {
    background: url("http://dash.ga.co/assets/anna-bg.png");
    background-size: cover;
    margin: 0;
}



h1 {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 70px;
}

header {
    text-align: center;
}

ul {
    padding: 10px;
    color: white;
  }
  
li {
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    display: inline;
  }
 a {
    color : white;
}




h2 {
    text-align: center;
}
article {
    font-family: 'Roboto Slab', serif;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    color: white;
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 36px;
    }
    li {
      display: block;
      padding: 5px;
    }
}

footer {
    text-align: center;
    margin: 20px;
    color: white;
}